h1, h4 {
    text-align: center;
}

#tbbody td, th {
    width: 1% !important;
    white-space: nowrap !important;
    vertical-align: middle !important;
    text-align: center;
}

#tbcalculo td {
    width: fit-content !important;
    white-space: normal !important;
    vertical-align: middle !important;
    text-align: center;
}

select {
    width: 100%;
}