h1, h4 {
    text-align: center;
}

td, th {
    width: 1% !important;
    white-space: nowrap !important;
    vertical-align: middle !important;
    text-align: center;
}

select {
    width: 100%;
}